# Check code quality of commit.
name: "Check commit"

on: ["push", "pull_request", "workflow_dispatch"]

jobs:

  check:
    strategy:
        matrix:
            platform: ["windows-latest", "ubuntu-latest", "macos-latest"]
            python:   ["3.11", "3.14"]
    runs-on: ${{matrix.platform}}
    steps:

      - name: "Check out code."
        uses: "actions/checkout@v6"

      - name: "Install Python."
        uses: "actions/setup-python@v6"
        with:
          python-version: ${{matrix.python}}

      - name: "Install UV."
        uses: "astral-sh/setup-uv@v7"

      - name: "Install package."
        run:  "uv sync --group test"

      - name: "Lint code."
        run:  uv run ruff check

      - name: "Run tests."
        run:  uv run pytest

      - name: "Build wheel."
        run:  "uv build --wheel --out-dir build/wheel"
